

/*Services start*/
.services-item
{
    border: solid 2px #fff2e5;
}
.services-item:hover
{
    background-color: #fff2e5;
}
.services-item:hover .services-icon
{
    background-color: #fff;
}

.services-icon
{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #fff2e5;
}
.services-icon .fas
{
    font-size: 35px;
    color: #ff9222;
}
/*Services end*/

